.navbar {
  height: 100%;
  transition: min-width 0.4s ease; /* Adjust the duration and easing as needed */
  width: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 55;

  @media (max-width: 1000px) {
    @media (orientation: landscape) {
      /* Ensure the navbar still fits in landscape mode */
      overflow-y: auto; /* Allow scrolling if content doesn't fit */
    }
  }
  @media (max-width: 660px) {
    top: 56px;
  }

  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: relative;
  /* z-index: 500;  */
  background-color: var(--mantine-color-body); 
  
   
}


.navbarMain {
  flex: 1;
}




.readingButton {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-1));
  background-color: transparent;

}


.readingButton:hover {
  color: light-dark(var(--mantine-color-orange-5), var(--mantine-color-gray-1));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  /*border: 1px solid light-dark(var(--mantine-color-orange-5), var(--mantine-color-gray-3));  */
  resize: 1.1;

}

.advancedSearchButton {


  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  background-color: transparent;
  padding-left: 16px;
  transform: all 0.2s ease;
}


.advancedSearchButton:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-orange-5), var(--mantine-color-gray-2));
  resize: 1.1;
}




.searchButton {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  background-color: light-dark(var(--mantine-color-lightscale-2), var(--mantine-color-dark-5));
  border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-5)); /* Fixed syntax */
  width: 50%;
  align-self: center;
  transform: all 0.2s ease;
  font-size: 13px; /* Set the desired font size */


}

.searchButton:hover {
  color: light-dark(var(--mantine-color-orange-4), var(--mantine-color-gray-2)); /* Adjust the colors as needed */
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-4));
  border-color: light-dark(var(--mantine-color-orange-4), var(--mantine-color-dark-1));
  resize: 1.1;
}