.icon {
  width: rem(22px);
  height: rem(22px);
  transition: transform 0.3s ease;

}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

@media (max-width: 600px) {
  .actionIcon {
    size: 16px;
  }
  .icon {
    width: 16px;
    height: 16px;
  }
  .search {
    width: 100%;
  }

}


.dark:hover {
  transform: rotate(12deg);
  filter: brightness(1.2);
  color: var(--mantine-color-indigo-6);

}

@keyframes expand-contract {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.light {
  color: var(--mantine-color-coolOrange-4);

}

.light:hover {
  filter: brightness(1.2);
  animation: expand-contract 0.5s ease-in-out;

}

.actionIcon:hover {
  border-color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-6));

}

/*

.dark {
  color: var(--mantine-color-indigo-6);
}

.light, .dark {
  color: light-dark(var(--mantine-color-indigo-9), var(--mantine-color-coolOrange-4));
}

*/